<div class="h-full bg-dark border-l-2 border-darker">
  <div class="flex flex-col justify-end h-full">
    <div class="h-auto overflow-y-auto">
      <div *ngIf="activeChat !== undefined">
        <div class="text-center text-lg">
          This is your message history with {{ activeChat }}
        </div>
        <ng-container *ngFor="let message of messages">
          <app-message-box
            *ngIf="showMessage(message)"
            [message]="message"
            [id]="message.messageId"
          />
        </ng-container>
      </div>
      <div *ngIf="activeChat === undefined">
        <div class="text-center text-lg">Select a chat from the sidebar</div>
      </div>
    </div>
  </div>
</div>
